$loading-font-size: 22px;

@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/_ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/_ionicons';

.content {
  background: $stable;
}

#statsContainer{
    background: url(http://lorempixel.com/1080/720/nature/);
    background-size: 100% auto;
}
#stats {
    // background: $calm;
    background: rgba($calm, 0.5);
    .icon {
        // font-size: 400%;
        &.ion-heart{ color: $assertive; }
        &.ion-cloud{ color: $light; }
        &.ion-fireball{ color: $energized; }
        &.ion-fireball{ color: $energized; }
    }
    .icon {
        vertical-align: middle;
        font-size: 3rem;
        line-height: 65px;
    }

    .valueUnitContainer, .valueContainer {
        margin-top: (65px - 40px) / 2;
        height: 100%;
        .value, .unit {
            font-weight: bold;
            text-align: center;
        }
        .value {
            font-size: 2rem;
        }
    }

    .valueContainer {
        margin-top: (65px - 20px) / 2;
    }
}

.chromelinefix {
    padding-top: 4px;
}

.ct-line {
    stroke-width: 2px;
}

.sideMenuSwipeArea {
    position: fixed;
    top: 45px;
    width: 25px;
    height: 100%;
    background: none;
    z-index: 100000;
}

.bar .title {
    text-align: center !important;
}